<ion-view class = "whitewhite" view-title="Início">

  <ion-nav-bar class="bar-stable" style="color: blue;">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="logout()" class="button button-icon">Logout</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <img src="img/main-page.png" style="width: 100%;" ng-click="move()">

  <!--<ion-content class="padding">

	<div class="list card main-content whitewhite">

 	<div class="item item-image whitewhite">
    	<img id="xp-image" src="img\desempenho.png">
  	</div>

	</div>

  </ion-content>

  <div class="bar bar-footer whitewhite">
  <a side="right" class="button button-large button-outline button-downn button-positive" href="/#/app/main">
    Comece a treinar
    </a>
    </div>

  <div class="bar bar-footer whitewhite">
  	<a href="/#/app/guidepisode"><img id="img-guia" src="img\guia.png"></a>
	</div>-->
  
</ion-view>