/* Empty. Add your own CSS if you like */
 #xp-image {
 	width: 40%;
 	border-radius: 10px;
 }

 .main-cont {
 	text-align: center;
 	padding-left: 10px;
 	padding-right: 10px;
 }

 .sub-text {
 	padding-left: 0;
 	padding-right: 0;
 }

 .button-smaller {
 	margin-left: 27.37375%;
 	margin-right: 27.37375%;
 }