<ion-view view-title="Experiências">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ng-click="logout()" class="button button-icon">Logout</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <img src="img/experiences-page.png" style="width: 100%;" ng-click="move()">
  
  <!--<ion-content class="padding">
  	<div class="list">

	    <strong class="item item-thumbnail-left" >
	      <img src="img\sit.png"> 
	      <h2 >Nome</h2>
	      <h2>lorem ipsum </h2>
	    </strong>

	    <strong class="item item-thumbnail-left" >
	      <img src="img\sit.png"> 
	      <h2 >Nome</h2>
	      <h2>lorem ipsum </h2>
	    </strong>

	    <strong class="item item-thumbnail-left" >
	      <img src="img\sit.png"> 
	      <h2 >Nome</h2>
	      <h2>lorem ipsum </h2>
	    </strong> 

	    <strong class="item item-thumbnail-left" >
	      <img src="img\sit.png"> 
	      <h2 >Nome</h2>
	      <h2>lorem ipsum </h2>
	    </strong>  
	</div> 

	<div>
	  	<h1> Compartilhe </h1>
		<label class="item item-input">
		<textarea placeholder="Comentário"></textarea>
		</label>
	</div>

	<div align="right">
		<button class="button icon-right ion-chevron-right button-calm"> Enviar </button> 
	</div>





  </ion-content>-->
  
</ion-view>